body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #d5ebfa;
}

h1, h2 {
  color: #333;
  text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #bfe0f7;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid #afaaaa;
}

th, td {
    padding: 10px;
    text-align: center;
}

table input, table select {
  width: 90%;
  padding: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

button {
    padding: 6px 12px;
    margin: 2px;
    cursor: pointer;
}

button.update {
    background-color: #40e487;
    border: none;
}

button.delete {
    background-color: #ff4444;
    border: none;
    color: white;
}


form {
  width: 100%;
  margin-bottom: 20px;
  background: #bfe0f7;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#form-container {
  display: flex;
  justify-content: center; 
}

form input, form select {
  display: block;
  margin: 0 auto 10px auto;
  padding: 8px;
  width: 90%;
}

form button[type="submit"] {
  display: block;
  margin: 10px auto 0 auto; 
  background-color: #3792fb;
  color: #fff;
  font-weight: bold;
  border: 1px solid gray;
  border-radius: 5px;
}